<html lang="en">

<head>

<title>Jared</title>
<meta charset="utf-8">
<link rel="icon" href='./icon.svg'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.0.2/css/bootstrap.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
<link rel="stylesheet" href="./style.css">
</head>
<body>


<div id="app" class="bg-dark">
	<div id="external-links">
		<a href="https://gitlab.com/jaredamcdon" target="_blank"><i class="fab fa-gitlab"></i></a>
		<a href="https://github.com/jamcdon/" target="_blank"><i class="fab fa-github"></i></a>
		<a href="https://codepen.io/jamcdon" target="_blank"><i class="fab fa-codepen"></i></a>
		<a href="https://www.linkedin.com/in/jared-mcdonald-cs/" target="_blank"><i class="fab fa-linkedin"></i></a>
		<a href="https://www.youtube.com/channel/UCbBaIriGE6NW2xvgsT8m-lA" target="_blank"><i class="fab fa-youtube"></i></a>
	</div>
	<div id="centerContainer" class="border rounded-3">
		<div id="hero" class="container-fluid py-5 bg-light">
			<h1 class="display-2">Hi, I'm Jared and I'm a 
				<span>
					<u class="text-success"><em>{{roles[role]}}</em></u>		
				</span>		
			</h1>
			<div id='spacing' class="bg-dark">
				<br>
			</div>
			<p class="text-start lead">My current projects</p>
			<div id="carWrap" class="border border-secondary rounded">
			<div id="demo" class="bg-light carousel carousel-dark slide" data-bs-ride="carousel" data-bs-interval="false">

			  <!-- Indicators/dots -->
			  <div class="carousel-indicators">
				<button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
				  <button type="button" data-bs-target="#demo" data-bs-slide-to="3"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="4"></button>
				  <button type="button" data-bs-target="#demo" data-bs-slide-to="5"></button>
				<button type="button" data-bs-target="#demo" data-bs-slide-to="6"></button>
			  </div>

			  <!-- The slideshow/carousel -->
			  <div class="carousel-inner">
				  <div class="carousel-item active ">
                      <div>
                    <h3 class="h3">{{project0.name}}</h3>
						<p class="p-3">{{project0.usage}}</p>
						<p>Status: <span v-bind:class="project0.statusText">{{project0.status}}</span></p>
						<div class="d-inline-flex">
							<p v-for="tool in project0.langFrame">|<i>{{tool}}</i>|</p>
					</div>
                    </div>
					<div>
						<pre>
							<code class="language-python">{{project0.snippet}}</code>
						</pre>
					</div>
				  </div>
				  <div class="carousel-item" v-for="project in projects">
						<h3 class="h3">{{project.name}}</h3>
						<p class="p-3">{{project.usage}}</p>
						<p>Status: <span v-bind:class="project.statusText">{{project.status}}</span></p>
						<div class="d-inline-flex">
							<p v-for="tool in project.langFrame">|<i>{{tool}}</i>|</p>
					</div>
				  </div>
				<div class="carousel-item" v-for="project in projects">
					<div>	
						<h3 class="h3">{{project.name}}</h3>
						<p class="p-3">{{project.usage}}</p>
						<p>Status: <span v-bind:class="project.statusText">{{project.status}}</span></p>
						<div class="d-inline-flex">
							<p v-for="tool in project.langFrame">|<i>{{tool}}</i>|</p>
						</div>
					</div>
					<div>
						<p><pre>
							<code>{{project.snippet}}</code>
						</pre></p>
					</div>
				  </div>

			  <!-- Left and right controls/icons -->
			  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
				<span class="carousel-control-prev-icon"></span>
			  </button>
			  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
				<span class="carousel-control-next-icon"></span>
			  </button>
			</div>

			<div class="container-fluid mt-3">
				<br>
			</div>
		</div>
			</div>
	</div>
</div>
	</div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.1.3/js/bootstrap.min.js"></script>
    <script src="./script.js"></script>
</body>
