#centerContainer{
	width:74%;
	margin-left: 10%;
	margin-right: auto;
}
#hero span{
	display:inline-block;
	width: 9em;
	text-align: left;
}
#external-links {
	text-align: right;
	padding-right:2em;
}
#external-links i {
	color:white;
	font-size:2em;
	padding:.2em;
}
#spacing{
	padding:4em;
	width:110%;
	margin-left:-4em;
}
#projectContainer{
	display: grid;
	grid-template-areas: 
		"TTL TTL TTL TTL"
		"LMC LMC LMC OTP"
		"NIX MST MST OTP"
		"NIX MST MST OTP"
		"NIX SNC RST RST"
		"KZ SNC RST RST"
		"KZ SNC RST RST";
	grid-template-columns:repeat(4,1fr);
	grid-template-rows:20%;
	width:85%;
	margin:auto;
	border: 3px solid white;
}
#projectContainer > div {
  
  	text-align: center;
  	padding: 20px 0;
  	font-size: 30px;
	border: 3px solid white;
}
code {
    text-align: left;
}
.carousel-item {
    width: 100%;
    margin:auto;
    padding: 0 15% 0 15%;
}

