<!DOCTYPE html>
<html lang=en onkeypress=keyUpNote(event)>
<head>
<meta charset=UTF-8>
<title>PianoKeys</title>
<link rel=icon href=kb.png>
<link rel=stylesheet href=./style.css>
</head>
<header>
<h1>PianoKeys.Netlify.App</h1>
</header>
<body>
<div id=app>
<div v-for="key in keys" v-bind:class=key.color v-on:click=playSound(key.location)>
{{key.name}}
<p>{{key.kb}}</p>
</div>
</div>
<div id=counter>
</div>
</body>
<script src=https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js></script><script src=./script.js></script>
</html>