#app{margin: auto;}.white{border: 2px solid black;width:5.8%;height: 500px;float: left;margin: 3px;text-align: center;}.black{position: relative; 2px solid black;width:2.9%;height: 350px;float: left;margin: 3px -1.45%;background-color: black;color: white;text-align: center;}