<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>We've been waiting for you</title>
  <link rel="icon" href="cagecon.png">
  <link rel="stylesheet" href="./style.css">

</head>
<body>
<!-- partial:index.partial.html -->
<div id="app">

  <person v-for="(movie, index) in movies" v-bind:name="movie.title" :year="movie.year" :starter="movie.start" :idx="movie.idx"></person>
  <div class = "centered">
  <img src = "https://ih0.redbubble.net/image.432047777.2229/raf,360x360,075,t,fafafa:ca443f4786.jpg"/>

  <button v-on:click="checkYear">Submit</button>
  
  <img src = "https://ih0.redbubble.net/image.432047777.2229/raf,360x360,075,t,fafafa:ca443f4786.jpg"/>
  
  </div>
  <br>
  <h1>{{getCaged}}</h1>
  <br>
  <br>
  <br>
  <button v-bind:class ="theHider" onclick="window.location.href = 'caged.html';">loot</button>
</div>
<!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.11/vue.min.js'></script><script  src="./script.js"></script>

</body>
</html>
