h2{
  cursor:pointer
}
#app img{
  height:90px;
  width: 88px
}
.centered {
  display: inline-block;
  vertical-align: middle;
  width: 310px;
  padding: 5px;
  border: #a0a0a0 solid 1px;
  background: #f5f5f5;
}
.centered button{
  font-size: 2em;
}
h1{
  color:red;
}
.itBeHidden{
  visibility: hidden;
}
.itBeVisible{
  visibility: visible;
}
html{
    font-family:"Comic Sans MS", cursive, sans-serif
}
button{
    font-family:"Comic Sans MS", cursive, sans-serif
}