<head>
<link rel="stylesheet" href="./style.css">
</head>
    <header>
<h1>Lulu, the dog talked about on Tinder
    </h1>
</header>

<img src = "/IMG_4448.JPG">
<img src = "IMG_4512.JPG">
<br>
<img src = "IMG_4630.JPG">
<img src = "IMG_4660.JPG">