img {
    width:300px;
    height:400px;
}
header{
  border: 1px #000033;
  width:99%;
  height:4.5em;
  box-shadow: 1px 1px 1px 1px #333333;

  border-radius: 8px;
}
header h1{
  padding-left:5%;

}